body{
    background-color: black;
    background-image: url('irelandmagicwords.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    color: #CC9E61;
    text-align: center;
    padding-top: 0.5em;
    font-size: 4em;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bolder;
}